# Compiled class files
*.class
**/*.class

# Log and auxiliary LaTeX files
*.log
*.aux
*.out
*.synctex.gz
*.toc

# LaTeX report and images
BaoCao_Lab1c.tex
**/BaoCao_Lab1c.tex
images/
**/images/

# Ignore root leftover if locked
/Sol Lab1b.pdf
